.event_box {
    padding-top: 10px;
}
/* 이벤트 탑 메뉴 */
.event_box .event_top_box {
    width: 90%;
    margin: 0 auto;
}

.event_box .event_top_box div {
    height: 25px;
    line-height: 25px;
    text-align: center;
}

.event_box .event_top_box .event_menu_box,
.event_box .event_top_box .event_type_box {
    display: flex;
    justify-content: space-between;
}

.event_box .event_top_box .event_order_box {
    display: flex;
    justify-content: end;
}

.event_box .event_top_box .event_type_box,
.event_box .event_top_box .event_order_box  {
    margin-top: 10px;
}

.event_box .event_top_box .event_menu_box div {
    width: 47%;    
}

.event_box .event_top_box .event_type_box div,
.event_box .event_top_box .event_order_box div {
    width: 18%;
}

.event_box .event_top_box .event_menu_box div,
.event_box .event_top_box .event_type_box div,
.event_box .event_top_box .event_order_box div {
    background-color: blue;
}

.event_box .event_top_box .event_menu_box div.selected,
.event_box .event_top_box .event_type_box div.selected,
.event_box .event_top_box .event_order_box div.selected {
    background-color: red;
}

/*sample.php */
.sample_head {
    text-align: center;
    font-size: 20px;
}

.smaple_box table {
    margin: 0 auto;
    border-collapse: collapse;
}

.smaple_box table td {
    border: 1px solid black;
}

.smaple_box button {
    margin: 10px auto;
    display: block;
}