/* 이벤트 리스트 */
.event_box .event_item_box {
    margin-top: 20px;
}

.event_box .event_item_box .event_item_thumbnail {
    position: relative;
}

.event_box .event_item_box .event_item_thumbnail .private_box {
    position: absolute;
    left: -5px;
    top: -5px;
    width: 70px;
    height: 60px;
    overflow: hidden;
}

.event_box .event_item_box .event_item_thumbnail .private_box:after {
    content: "";
    position: absolute;
    border: 6px solid;
    border-color: transparent transparent #AE0101 transparent;
    left: 59px;
    top: -6px;
}

.event_box .event_item_box .event_item_thumbnail .private_box div {
    width: 100px;
    background-color: red;
    transform: rotate(-45deg) translate(-30px,-5px);
    text-align: center;
}

.event_box .event_item_box .event_item_thumbnail img {
    width: 100%;
    height: 200px;
}

.event_box .event_item_box .event_item_thumbnail .event_badge {
    position: absolute;
    z-index: 1;
    right: 10px;
    top: 10px;
    border-radius: 50%;
    background-color: #FFC000;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.event_box .event_item_box .event_item_content {
    position: relative;
    background-color: #FAC090;
    padding: 10px 0;
}

.event_box .event_item_box .event_item_content .event_join_box {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    background-color: #17375E;
    color: white;
}

.event_box .event_item_box .event_item_content .event_join_box .ev_link_icon {
    background: url(../../img/clip.png);
    background-size: 100% 100%;
    width: 30px;
    height: 30px;
    margin: 10px auto;
}